body{ 
    font-family: 'Shadows Into Light', cursive;
    background-color: lightgrey;}
    
.header{
    text-align: center;
    font-size: 40px;
    font-style: bold;
    color: rgb(8, 27, 85);
    
}

.directions{
    text-align: center;
    background-color: rgb(202, 74, 185);
    font-size: 18px;
    

}
.winloss{
    background-color: rgb(202, 74, 185);
    text-align: center;
    margin-left:300px;
    margin-right: 300px;
    font-size: 20px;
    font-style: bold;
}

.target-box{
    background-color: rgb(202, 74, 185);
    text-align: center;
    margin-left:250px;
    margin-right: 250px;
    font-size: 50px;
    font-style: bold;
}
#active-score{
    background-color: rgb(202, 74, 185);
    margin-left:300px;
    margin-right: 300px;
    text-align: center;
    font-size: 40px;
    font-style: bold;
}
.gem{
    height:150px;
    width: 150px;
}
